<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <title><%= user.username %>'s Profile</title>
</head>
<body>
  <%- include('../partials/_navbar.ejs') %>
  <section class="greetings">
    <h1>Explore <%= user.username %>'s Gem Collection</h1>
  </section>
  <section class="info-action"> <button><a href="/users">Back to Community</a></button></section>
  <section class="crystals">
    <div class="gems">
      <% user.gems.forEach(gem => { %>
        <div class="gem-item">
          <% if (gem.image) { %>
            <img src="/<%= gem.image %>" alt="<%= gem.name %>" width="100">
          <% } %>
          <div class="gem-info">
            <h2><%= gem.name %></h2>
            <ul>
              <li><strong>Main Characteristic:</strong> <%= gem.characteristic %></li>
              <li><strong>Description:</strong> <%= gem.description %></li>
              <li><strong>Pieces available:</strong> <%= gem.pieces %></li>
            </ul>
          </div>
        </div>
      <% }); %>
    </div>
    <section class="info-action"> <button><a href="/users">Back to Community</a></button></section>
  </section>
</body>
</html>